#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-width: 320px;
  --primary:'#146C94';
  --secondary:'#19A7CE'
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--secondary));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .MuiButton-root {
  background: linear-gradient(to right, #ad5389, #3c1053)!important;
}
.MuiButton-root:hover {
  background: linear-gradient(to right, #77395e, #1d0829)!important;
} */
body{
  background: linear-gradient(to top, #03081a 0 40%, #024768 170%) !important;
  height: 100vh;
}
.gradient-prime {
  background: linear-gradient(to right, #ad5389, #3c1053)!important;
}
.gradient-prime:hover {
  background: linear-gradient(to right, #77395e, #1d0829)!important;
}

.gradient-yard {
  background: linear-gradient(to right, #19A7CE, #146C94)!important;
  color: aliceblue !important;
}
.gradient-yard:hover {
  background: linear-gradient(to right, #1383a1, #0e4c69)!important;
  color: aliceblue;
}

.navbar{
  font-family:'monospace';
  /* background-color:var(--primary); */
}

.titulo{
  background: -webkit-linear-gradient(45deg, #19A7CE 30%, #146C94 );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/*PARA EDITA MUI***/
.MuiDataGrid-columnHeaders{
  background-color: #0e4c69;
  color: aliceblue;
}

.MuiDataGrid-footerContainer .MuiSvgIcon-root{
  color: aliceblue;
}

.MuiDataGrid-footerContainer{
  background-color: #0e4c69;
  color: aliceblue;
}

.MuiDataGrid-footerContainer p{
  color: aliceblue;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root{
  width: 100%;
}