#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-width: 320px;
  --primary:'#19A7CE'
  --secondary:'#146C94';
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--secondary));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* .MuiButton-root {
  background: linear-gradient(to right, #ad5389, #3c1053)!important;
}
.MuiButton-root:hover {
  background: linear-gradient(to right, #77395e, #1d0829)!important;
} */
body{
  background: linear-gradient(to top, #03081a 0 40%, #024768 170%) !important;
  min-height: 100vh;
}
.gradient-prime {
  background: linear-gradient(to right, #ad5389, #3c1053)!important;
}
.gradient-prime:hover {
  background: linear-gradient(to right, #77395e, #1d0829)!important;
}

.gradient-yard {
  background: linear-gradient(to right, #19A7CE, #146C94)!important;
  color: aliceblue !important;
}
.gradient-yard:hover {
  background: linear-gradient(to right, #1383a1, #0e4c69)!important;
  color: aliceblue;
}

.navbar{
  font-family:'monospace';
  /* background-color:var(--primary); */
}

.titulo{
  background: -webkit-linear-gradient(45deg, #19A7CE 30%, #146C94 );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/*PARA EDITA MUI***/
.MuiDataGrid-columnHeaders{
  background-color: #0e4c69;
  color: aliceblue;
}

.MuiDataGrid-footerContainer .MuiSvgIcon-root{
  color: aliceblue;
}

.MuiDataGrid-footerContainer{
  background-color: #0e4c69;
  color: aliceblue;
}

.MuiDataGrid-footerContainer p{
  color: aliceblue;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root{
  width: 100%;
}

.menu-activo{
  background-color: #146C94 !important;
}

a{
  color: #19A7CE;
  text-decoration: none;
}

a:visited{
  color: #024768;
}

.not-found h1{
  text-shadow:7px 7px 5px rgba(139, 134, 134, 0.5)
}

.grid-cuotas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem; 
}

/*******CARD CUOTA*******/
.card {
  background-color: #141f24;
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(83, 148, 201, 0.4), 0 6px 6px rgba(28, 108, 173, 0.5);
  margin-bottom: 20px;
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  border:1px solid steelblue;
  display: grid;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  border-bottom: 2px solid steelblue;
  margin-bottom: 15px;
  padding: 0.5rem 1rem;
  min-height: 150px;
}

.card-title {
  font-size: 24px;
  margin: 0;
}

.card-subtitle {
  font-size: 20px;
  margin: 4px 0;
  color: #b2bfca;
}

.card-info {
  font-size: 24px;
  margin: 4px 0;
  color: #dde7f0;
  letter-spacing: 2px;
  font-style: italic;
}

.card-body {
  font-size: 18px;
  padding: 2px 5px;
}

.card-body p {
  margin: 0 0 5px 0;
}

.card-body .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: -1;
  font-size: 180px;
  color: rgba(0, 0, 0, 0.15);
}

.card-body div, .card-header div{
  display: flex;
  justify-content: space-between;
}
.card-body kbd {
  background-color: #14abf1;
  border: 1px solid #0379b5;
  color:whitesmoke;
  padding: 2px 8px;
  font-size: 2rem;
  font-style: italic;
  border-radius: 8px;
}
.card-body input{
  font-size: large;
  color:#6fd8f5;
}
.card-footer{
  align-self: flex-end;
  min-height: 4rem;
  background-color: #0379b5;
  border-radius: 0 0 8px 8px;
  display: flex;
}
.card-footer button{
  border-radius: 0 0 10px 10px !important;
  padding: 20px 10px;
  align-self: flex-end;
  font-size: large;
}
.paid {
  background-color: #4c830e !important;
  border: 1px solid #5f9e16 !important;
}

.delay {
  background-color: #be2c18 !important;
  border: 1px solid #921e0f !important;
}